/* Write your CSS here */
.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 600px;
}

button {
  color: #ff0b37;
  background-color: transparent;
  border: 1px solid #ff0b37;
  border-radius: 5px;
}
